// Colors
$color-white: #fff;
$color-black: #000;
$color-black-haze: #e2e4e3;
$color-crusta: #fd803f;
$color-radical-red: #f9445a;

// Fonts
$font-standard-size: 62.5%;
$font-display: swap;
$ff-monument: 'ABC Monument Grotesk';

$fw-ultra-light: 100;
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-demi: 600;
$fw-bold: 700;
$fw-heavy: 800;

$fs-normal: normal;
$fs-italic: italic;
