// Regular
@font-face {
    font-family: $ff-monument;
    font-style: $fs-normal;
    font-weight: $fw-regular;
    font-display: $font-display;
    src: url('/fonts/ABCMonumentGrotesk-Regular.woff2');
}

@font-face {
    font-family: $ff-monument;
    font-style: $fs-italic;
    font-weight: $fw-regular;
    font-display: $font-display;
    src: url('/fonts/ABCMonumentGrotesk-RegularItalic.woff2');
}

// Medium
@font-face {
    font-family: $ff-monument;
    font-style: $fs-normal;
    font-weight: $fw-medium;
    font-display: $font-display;
    src: url('/fonts/ABCMonumentGrotesk-Medium.woff2');
}

@font-face {
    font-family: $ff-monument;
    font-style: $fs-italic;
    font-weight: $fw-medium;
    font-display: $font-display;
    src: url('/fonts/ABCMonumentGrotesk-MediumItalic.woff2');
}

// Bold
@font-face {
    font-family: $ff-monument;
    font-style: $fs-normal;
    font-weight: $fw-bold;
    font-display: $font-display;
    src: url('/fonts/ABCMonumentGrotesk-Bold.woff2');
}

@font-face {
    font-family: $ff-monument;
    font-style: $fs-italic;
    font-weight: $fw-bold;
    font-display: $font-display;
    src: url('/fonts/ABCMonumentGrotesk-BoldItalic.woff2');
}
